#root {
  --color-primary: #A88BEB;   /* Morado suave */
  --color-secondary: #B9FBC0; /* Verde claro suave */
  --color-text: #ffffff; /*Blanco para contraste*/
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Botnes morados*/
.custom-btn {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #9276d8; /* tono más oscuro del morado para el hover */
}

/*Botones verdes*/
.custom-btn2 {
  background-color: var(--color-secondary);
  color: #333;
}
.custom-btn2:hover {
  background-color: #a1e7aa;
}
